@model Project.MVC.Models.IndexViewModel<VehicleMakeDTO, VehicleModelDTO>
@using Project.MVC.Models
@{
    int makeId = Model.Entity == null ? 0 : Model.Entity.Id;
}
@using PagedList.Mvc

<table>
    <tr>
        @using (Html.BeginForm("Index", "Make", FormMethod.Get))
        {
            <td>
                <strong>Page Size</strong>
            </td>
            <td>

                @Html.DropDownList("pageSize", (SelectList)ViewBag.PageSizeDropdown, new { @class = "form-control", style = "width: 65px;" })

                @Html.Hidden("sorting", Model.SortingParams.Sorting)
                @Html.Hidden("currentFilter", Model.FilteringParams.CurrentFilter)
                @Html.Hidden("id", makeId)
                @Html.Hidden("pageNumber", Model.EntityList.PageNumber)
            </td>
            <td style="column-width:15px;"></td>
            <td>
                <input type="submit" value="Select" class="btn btn-default" />
            </td>
            <td style="width:70px;"></td>
            <td>
                @Html.PagedListPager(Model.EntityList, pageNumber => Url.Action("Index","Make", new { pageNumber ,
                                                                                                    sorting = Model.SortingParams.Sorting,
                                                                                                    currentFilter = Model.FilteringParams.CurrentFilter,
                                                                                                    pageSize = Model.EntityList.PageSize,
                                                                                                    id = makeId }),
                                                                new PagedListRenderOptions { DisplayPageCountAndCurrentLocation = true } )
            </td>
        }
    </tr>
</table>

