@model Project.MVC.Models.IndexViewModel<VehicleMakeDTO, VehicleModelDTO>
@using Project.MVC.Models
@using PagedList.Mvc

<table>
    <tr>
        @using (Html.BeginForm("Index", "Make", FormMethod.Get))
        {
            <td>
                <strong>Page Size</strong>
            </td>
            <td>

                @Html.DropDownList("pageSize", (SelectList)ViewBag.PageSizeDropdown, new { @class = "form-control", style = "width: 65px;" })

                @Html.Hidden("sorting", Model.Sorting)
                @Html.Hidden("currentFilter", Model.CurrentFilter)
                @Html.Hidden("id", Model.Id)
            </td>
            <td style="column-width:15px;"></td>
            <td>
                <input type="submit" value="Select" class="btn btn-default" />
            </td>
            <td style="width:70px;"></td>
            <td>
                @Html.PagedListPager(Model.EntityList, pageNumber => Url.Action("Index","Make", new { pageNumber ,
                                                                                                      sorting = Model.Sorting,
                                                                                                      currentFilter = Model.CurrentFilter,
                                                                                                      pageSize = Model.EntityList.PageSize,
                                                                                                      id = Model.Id }),
                                                                new PagedListRenderOptions { DisplayPageCountAndCurrentLocation = true } )
            </td>
        }
    </tr>
</table>

