@model MvcProject.MVC.Models.MakeCreateEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrv)
        </dd>

    </dl>

    <div class="row">
        <div class="col-md-5">
            <p><strong>Relaed Vehicle Models</strong></p>
            <table class="table table-hover">
                <tr>
                    <th>
                        Model Name
                    </th>
                    <th>
                        Model Id
                    </th>
                </tr>
                @foreach (var item in Model.VehicleModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <h4>If you delete this Make, all the models referred to this make will be deleted too.</h4>

    @using (Html.BeginForm("Delete", "Make", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
    <div class="form-actions no-color">

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
    }
</div>
