@model Project.MVC.Models.IndexViewModel<VehicleMakeDTO, VehicleModelDTO>
@using Project.MVC.Models

@{
    ViewBag.Title = "Vehicle Make";
}



<h2>@ViewBag.Title</h2>

@{ Html.RenderPartial("_Message", (string)TempData["Message"]); }


@Html.ActionLink("Add New Vehicle Make", "Create", null, new { @class = "btn btn-primary" })
<br />
@using (Html.BeginForm("Index", "Make", FormMethod.Get))
{
    <p>
        <strong>Search by Name</strong>
        @Html.TextBox("searchString", Model.CurrentFilter)
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Id", "Index", new { sorting = ViewBag.IdSorting,
                                                                  currentFilter = Model.CurrentFilter,
                                                                  pageSize = Model.EntityList.PageSize,
                                                                  pageNumber = Model.EntityList.PageNumber })
                        </th>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sorting = ViewBag.NameSorting,
                                                                    currentFilter = Model.CurrentFilter,
                                                                    pageSize = Model.EntityList.PageSize,
                                                                    pageNumber = Model.EntityList.PageNumber })
                        </th>
                        <th>
                            @Html.ActionLink("Abbreviation", "Index", new { sorting = ViewBag.AbrvSorting,
                                                                            currentFilter = Model.CurrentFilter,
                                                                            pageSize = Model.EntityList.PageSize,
                                                                            pageNumber = Model.EntityList.PageNumber })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EntityList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Abrv)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Index", new { id = item.Id,
                                                                           currentFilter = Model.CurrentFilter,
                                                                           pageSize = Model.EntityList.PageSize,
                                                                           Model.EntityList.PageNumber }
                                                                    , new { @class = "btn btn-sm btn-default" })
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (Model.ChildEntityList != null)
        {
            <div class="col-md-5 table-bordered">
                <h3>Vehicle Models belonging to @Model.Entity.Name</h3>

                <table class="table table-hover" style="width:150px;">
                    @foreach (var item in Model.ChildEntityList)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                    }

                </table>
            </div>
        }

        <div class="col-md-5"></div>
    </div>
    <div class="row">
        <div class="col">
            @{ Html.RenderPartial("_MakePaging", Model); }
        </div>
    </div>
</div>
