@model MvcProject.MVC.Models.ModelIndexViewModel

@using PagedList.Mvc

<table>
    <tr>
        @using (Html.BeginForm("Index", "Model", FormMethod.Get))
        {
            <td>
                <strong>Page Size</strong>
            </td>
            <td>

                @Html.DropDownList("pageSize", Model.PageSizeDropdown, new { @class = "form-control", style = "width: 65px;" })

                @Html.Hidden("sorting", Request.QueryString["sorting"])
                @Html.Hidden("currentFilter", Request.QueryString["currentFilter"])
                @Html.Hidden("pageNumber", Request.QueryString["pageNumber"])
            </td>
            <td style="column-width:15px;"></td>
            <td>
                <input type="submit" value="Select" class="btn btn-default" />
            </td>
            <td style="width:70px;"></td>
            <td>
                @Html.PagedListPager(Model.ModelList,
                                            pageNumber => Url.Action("Index","Model",
                                            new { pageNumber ,
                                                  sorting = Request.QueryString["sorting"],
                                                  currentFilter = Request.QueryString["currentFilter"],
                                                  pageSize = Request.QueryString["pageSize"] }),
                                            new PagedListRenderOptions { DisplayPageCountAndCurrentLocation = true })
            </td>
        }
    </tr>
</table>


